/* CSS Variables */
:root {
  --default-transition: 0.4s ease;
}

/* CSS Declarations */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: var(--default-transition);
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), o 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: var(--default-transition);
  z-index: 1;
}
.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  color: white;
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow:focus {
  outline: 0;
}
.left-arrow {
  left: calc(15vw - 65px);
}
.right-arrow {
  right: calc(15vw - 65px);
}
